<div class="app-hf-wrap">
    <div class="app-hf-header flx-row flx-ac">Welcome Megha</div>
    <div class="app-hf-container">
        <div class="flx-row flx-jsb flx-ac profiles-wrap">
            <div class="flx-row">
                <div class="medium-ProfilePick">M</div>
                <div class="self profile-name">Pallavi</div>
            </div>
            <div class="flx-row flx-jc flx-ac">
                <button class="custom-btn-active pointer">Request</button>
            </div>
        </div>
        <div class="flx-row flx-jsb flx-ac profiles-wrap">
            <div class="flx-row">
                <div class="medium-ProfilePick">M</div>
                <div class="self profile-name">Pooja</div>
            </div>
            <div class="flx-row flx-jc flx-ac">
                <button class="custom-btn-active pointer">Request</button>
            </div>
        </div>
    </div>