.bold {
    font-weight: bold;
  }
  
  .flx-row {
    display: flex;
    flex-direction: row;
  }
  
  .flx-column {
    display: flex;
    flex-direction: column;
  }
  
  .flx-ac {
    align-items: center;
  }
  
  .flx-ae {
    align-items: flex-end;
  }
  
  .flx-jce {
    justify-content: flex-end;
  }
  
  .flx-jc {
    justify-content: center;
  }
  
  .flx-jsb {
    justify-content: space-between;
  }
  
  .flx-jsa {
    justify-content: space-around;
  }
  .self {
    align-self: center;
  }
  .pointer {
    cursor: pointer;
  }
  