.bold {
    font-weight: bold;
  }
  
  .flx-row {
    display: flex;
    flex-direction: row;
  }
  
  .flx-column {
    display: flex;
    flex-direction: column;
  }
  
  .flx-ac {
    align-items: center;
  }
  
  .flx-ae {
    align-items: flex-end;
  }
  
  .flx-jce {
    justify-content: flex-end;
  }
  
  .flx-jc {
    justify-content: center;
  }
  
  .flx-jsb {
    justify-content: space-between;
  }
  
  .flx-jsa {
    justify-content: space-around;
  }

  .f14 {
    font-size: 14px;
  }
  
  .f16 {
    font-size: 16px;
  }
  
  .f18 {
    font-size: 18px;
  }
  
  .f20 {
    font-size: 20px;
  }
  
  .f24 {
    font-size: 24px;
  }
  
  .text-align {
    text-align: center;
  }
  
  .self {
    align-self: center;
  }
  
  .upper {
    text-transform: uppercase;
  }
  
  .capitalize {
    text-transform: capitalize;
  }  
  .pointer {
    cursor: pointer;
  }
  